doctype html
html(lang='en')
    head
        include ../layout/head
        link(href='css/auth.css', rel='stylesheet', type='text/css')
        link(href='css/base.css', rel='stylesheet', type='text/css')

        title #{title}

    body
        include ../layout/basic-header

        .container-fluid
            .row
                .col-lg-4.col-lg-offset-4.auth
                    .message-panel
                        if (message.length > 0)
                            .alert.alert-danger.text-center #{message}

                    .auth-panel.panel.panel-default
                        .panel-heading
                            h3.panel-title Please Sign In
                        .panel-body
                            form(action='/login' role='form', method='POST')
                                fieldset
                                    .form-group
                                        input.form-control(placeholder='E-mail', name='email', type='email', autofocus='', value=email, required)
                                    .form-group
                                        input.form-control(placeholder='Password', name='password', type='password', value='', required)

                                    button.btn.btn-lg.btn-success.btn-block(type='submit') Login

                                    p.text-center.existingLink Don't have an account?&nbsp
                                        a(href='/register') Sign up