.auth {

    .message-panel {
        margin-top: 10% !important;
        display: block !important;
    }

    .auth-panel {
        input {
            padding: 0 5px 0 5px;
            margin-bottom: 5px;
        }

        button {
            width: 50%;
            margin: auto;
        }

        .existingLink {
            margin-top: 10px;
        }
    }
}