/**
*
* Default styles which are used site wide
* they are defined here to maintain consistency
*
*/

@import "color";
@import "font";

.error {
  color: $error-color;
}

p {
  color: $text-blue-color;
}

.linkedIn {
  @extend p;
  margin-right: 5px;
}

.page-header {
  margin-top: 0;
}

.sidebar {
  margin-top: 0;
}

.panel-default {

  .panel-heading {
    color: $text-blue-color;

    .fa {
      color: $text-blue-color;
      margin-right: 5px;
    }
  }
}