/**
*
* Default styles which are used site wide
* they are defined here to maintain consistency
*
*/

@import "color";
@import "font";

$icon-text-margin-right: 5px;

.error {
  color: $error-color;
}

h1, h2, h3, .standout {
    font-family: 'Exo', sans-serif;
}

.icon-default {
  color: $text-blue-color;
}

.fa-linkedin, .fa-twitter {
  @extend .icon-default
}

.text-with-icon {
  margin-right: 5px;
}

.sidebar {
  margin-top: 0;
}

.panel-default {

  .panel-heading {
    color: $text-blue-color;

    .fa {
      color: $text-blue-color;
      margin-right: 5px;
    }
  }
}

.message-panel {
  margin: 20px 0 0 0;
  display: none;

  ul {
    list-style: none;
  }
}

.profile-img {
    img {
        height: 25px;
        width: 25px;
        border-radius: 5px;
        padding: 0;
        margin: 0;
    }

    i {
        padding-left: 3px;
    }

    &:hover {
        outline: none;
        background-color: transparent;
    }

    &:focus {
        outline: none;
    }
}


.navbar-brand {
    padding: 20px 15px;
    font-size: 20px;
}

