@import "dimensions";
@import "color";

.import-container {

  ul {
    list-style: none;
  }

  .panel {
    margin-top: $panel-top-margin;

    .message-panel {
      margin: $message-panel-margin;
      padding: $message-panel-padding;
    }
  }
}