@import "font";

.profile {
    margin-top: 40px;

    .image-container {
        .upload {

            .change-image {
                margin-top: 10px;
            }

            .image-preview {
                max-width: 250px;
                max-height: 250px;
            }
        }
    }

    #message {
        display: none;
    }

    .details-container {
        font-family: 'Exo', sans-serif;

        .name {
            margin-bottom: 15px;
        }

        p {
            font-size: 20px;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25%;
        }
    }


}