doctype html

head
    include ../layout/scripts
body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            h1 #{title}
            ul
                pre
                    each person in user

                        //li= "Forename: " + person.firstname
                        //li= "Surname: " + person.surname
                        //li= "Email: " + person.email
                        //li= "Password: " + person.password
                        //li= "Mongo id: " + person._id
                        //form(action='/user/#{person._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        //    input(type='hidden',value='DELETE',name='_method')
                        //    button.btn(type='submit') Delete
                        //p
                        //    a(href='/user/#{person._id}/edit') Edit
                        //p
                        //    a(href='/user/#{person._id}') Show