doctype html

head
    include ../layout/head
    link(href='/css/jobs.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row
                    .col-lg-12.jobs-panel

                    .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                        nav.center-block(aria-label="Page navigation" data-total-pages="#{totalPages}")
                            ul.pagination(id="pagination")
