doctype html

head
    include ../layout/head
    link(href='/css/jobs.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row
                    .col-lg-12.jobs-panel

                    .col-lg-12
                        center
                            nav(aria-label="Page navigation" data-total-pages="#{totalPages}")
                                ul.pagination(id="pagination")
