include ./complex-header

// /.navbar-top-links
.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li.sidebar-search
                .input-group.custom-search-form
                    input.form-control(type='text', placeholder='Search...')
                    span.input-group-btn
                        button.btn.btn-default(type='button')
                            i.fa.fa-search
                // /input-group
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard.fa-fw
                    |  Dashboard
            li
                a(href='#')
                    i.fa.fa-bar-chart-o.fa-fw
                    |  Charts
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='flot.html') Graph Analytics
                // /.nav-second-level
            li
                a(href='/graph/import')
                    i.fa.fa-download.fa-fw
                    |  Import
            li
                a(href='forms.html')
                    i.fa.fa-edit.fa-fw
                    |  Item 2
            li
                a(href='#')
                    i.fa.fa-wrench.fa-fw
                    |  Item 2
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='#') Notifications
                // /.nav-second-level
            li
                a(href='#')
                    i.fa.fa-sitemap.fa-fw
                    |  Multi-Level Dropdown
                    span.fa.arrow
                ul.nav.nav-second-level
                    li
                        a(href='#') Second Level Item
                    li
                        a(href='#') Second Level Item
                    li
                        a(href='#')
                            | Third Level
                            span.fa.arrow
                        ul.nav.nav-third-level
                            li
                                a(href='#') Third Level Item
                            li
                                a(href='#') Third Level Item
                            li
                                a(href='#') Third Level Item
                            li
                                a(href='#') Third Level Item
                        // /.nav-third-level
                // /.nav-second-level
            li
                a(href='/graph/trash')
                    i.fa.fa-trash.fa-fw
                    |  Trash

