.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li.sidebar-search
                    form.input-group.custom-search-form(action='/search', method='GET')
                        input.form-control(type='text', placeholder='Search...', name='q')
                        span.input-group-btn
                            button.btn.btn-default(type='submit')
                                i.fa.fa-search
                // /input-group
            li
                a(href='/dashboard')
                    i.fa.fa-dashboard.fa-fw
                    |  Dashboard
            li
                a(href='/graph/import')
                    i.fa.fa-download.fa-fw
                    |  Import
            li
                a(href='/graph/trash')
                    i.fa.fa-trash.fa-fw
                    |  Trash