#jobModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Import Details
            .modal-body
                ul#job_details
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close