doctype html

head
    include ../layout/head
    script(type='text/javascript', src='/js/multi-action-grid.js')
    link(href='/css/trash.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row
