doctype html

head
    include ../layout/head
    script(src='/js/cytoscape.js')
    link(href='/css/graph.css', rel='stylesheet', type='text/css')

    title #{title}
body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            .container-fluid
                .row
                    .col-md-12
                        p.text-center Toolbar Area
            #cy
                script(type='text/javascript').
                    var cy = cytoscape({
                        container: document.getElementById('cy'),
                        style: [
                            {
                                selector: 'node',
                                style: {
                                    shape: 'circle',
                                    'background-color': '#337ab7',
                                    label: 'data(id)'
                                }
                            }],
                        elements: [
                            // nodes
                            {data: {id: 'Sinead'}},
                            {data: {id: 'Mike'}},
                            {data: {id: 'James'}},
                            {data: {id: 'Karen'}},
                            {data: {id: 'Sam'}},
                            {data: {id: 'Amy'}},
                            // edges
                            {
                                data: {
                                    id: 'ab',
                                    source: 'Sinead',
                                    target: 'James'
                                }
                            },
                            {
                                data: {
                                    id: 'cd',
                                    source: 'Mike',
                                    target: 'Karen'
                                }
                            },
                            {
                                data: {
                                    id: 'ef',
                                    source: 'Sam',
                                    target: 'Amy'
                                }
                            },
                            {
                                data: {
                                    id: 'ac',
                                    source: 'Amy',
                                    target: 'James'
                                }
                            },
                            {
                                data: {
                                    id: 'be',
                                    source: 'Mike',
                                    target: 'Sam'
                                }
                            },
                            {
                                data: {
                                    id: 'bk',
                                    source: 'James',
                                    target: 'Karen'
                                }
                            }
                        ],
                    });






