doctype html

head
    include ../layout/head
    link(href='/css/import.css', rel='stylesheet', type='text/css')
    script(src='/js/job-launch.js', type='text/javascript')

    title #{title}

body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid.import-container
                include ../layout/pageHeader

                .row
                    // Modal
                    #jobModal.modal.fade(role='dialog')
                        .modal-dialog
                            // Modal content
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') ×
                                    h4.modal-title Import Launched
                                .modal-body
                                    ul#job_details
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close

                    .col-lg-12
                        .row
                            .message-panel
                                .alert.alert-danger.text-center
                                    ul#errors

                            .col-lg-6
                                .panel.panel-default
                                    .panel-heading
                                        i.fa.fa-linkedin
                                        | LinkedIn
                                    form.linkedin_launch(role='form', action='/graph/import/linkedin' method='POST', data-type='LINKEDIN').panel-body
                                        .form-group
                                            label Job Name
                                            input.form-control(name='importName')
                                            p.help-block Give your import a name
                                        .form-group
                                            label Username
                                            input.form-control(type='email' name='linkedinEmail')
                                            p.help-block example@domain.com
                                        .form-group
                                            label Password
                                            input.form-control(type='password', name='linkedinPassword')
                                        .form-group
                                            p.help-block Your credentials are not stored
                                        .text-center
                                            button.btn.btn-default(type='submit') Submit

                            .col-lg-6
                                .panel.panel-default
                                    .panel-heading
                                        i.fa.fa-twitter
                                        | Twitter
                                    form.twitter_launch(role='form', action='/graph/import/twitter' method='POST', data-type='TWITTER').panel-body
                                        .form-group
                                            label Job Name
                                            input.form-control(name='importName')
                                            p.help-block Give your import a name
                                        .form-group
                                            label Screen Name
                                            input.form-control(name='screenName', required)
                                            p.help-block Example @Exograph without '@'
                                        .form-group
                                            p.form-control-static
                                                | Twitter imports can take a considerable amount of time
                                                | due to restrictions imposed by Twitter.
                                        .text-center
                                            button.btn.btn-default(type='submit') Submit




