doctype html

head
    include ../layout/head

    link(href='/css/graph.css', rel='stylesheet', type='text/css')
    script(src='https://d3js.org/d3.v3.min.js')
    script(src='/js/graph-render.js')
    script(src='/js/graph-info-panel.js')
    script(src='/js/graph-nav-sidebar.js')

    title #{title}

body
    include ../layout/complex-header

    .loading

    #wrapper
        .container-fluid.graph-container
            .row
                .graph-info-container
                    .container-fluid
                        .row
                            .col-lg-12.top-container
                                button.close-btn
                                    i.fa.fa-close
                                .info-img-container
                        .row
                            .col-lg-12.info-items



                .col-lg-12
                    .nav-side-panel-container
                        .nav-side-panel
                                include ../layout/navigation-sidepanel
                        .expand-collapse-nav
                            button.btn.btn-primary
                                i.fa.fa-caret-right.fa-2x

                    .graph(endpoint='#{graphEndpoint}')








